<!--@subject {{var product_name}} Is Back In Stock @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;color:#1a1a1a;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr>
                <td valign="top" style="padding: 10px 10px 0px;"><a href="{{store url=""}}"><img width="180" height="52" src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;height:auto;" border="0"/></a></td>
            </tr>
            <tr style="background: #FFFFFF;">
                <td>
						<div style="padding: 10px;">
						{{inlinecss file="css/email-inline.css"}}
						<div class="stock_content">
						<div class="stock_head">
						<p><strong>{{trans 'Hello'}}</strong></p>
						<p>{{trans 'We are getting in touch as per your email notification request.'}}</p>
						<p>{{trans 'This is to inform you that the '}}<strong><a href='{{var product_url}}' >{{var product_name}}</a></strong>{{trans ' is back in stock, so you can buy this product now.'}}</p>
						</div>
						<br><br>
						<table>
						       <tr>
						       <td>
						             <a href='{{var product_url}}' ><img src='{{var image_url}}' class="prod_img" width="200" /></a>
						       </td>
						       <td>
						               <div class="prod_name" style="margin-bottom: 10px;"><strong style="font-weight: bold;font-size: 20px;">{{var product_name}}</strong></div>
						               <div class="prod_url"><a style="cursor: pointer;text-decoration: none;background:#26A9E0;color: #FFFFFF;padding: 5px 10px;" href='{{var product_url}}' >{{trans 'BUY NOW!'}}</a></div>
						       </td>
						       </tr>
						</table>
						</div>
						</div>
                </td>
            </tr>

    </td>
</tr>
            <tr style="background:#F6F6F6;">
                <td align="center" style="text-align: center; padding: 10px;"><center><p style="font-size:12px;">{{trans 'Thank you, '}}<strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
</table>
<style type="text/css">
.stock_head{
font-size:17px;
}
.prod_img{
height:150px;
width:160px;
padding-left:20px;
}
.stock_content{
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:15px;
}
.prod_name{
 padding-top:25%;
 padding-left:30px;
}
.prod_url{
 padding-top:10px;
 padding-left:30px;
}
</style>
</body>
