<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_save_after">
       <observer name="emipro_catalog_product_save_after" instance="Emipro\Productstocknotification\Observer\Saveproduct" />
    </event>
</config>
