<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Emipro_Productstocknotification::productstocknotification" title="Emipro - Product Stock Notification" module="Emipro_Productstocknotification" sortOrder="30" parent="Magento_Catalog::catalog" resource="Emipro_Productstocknotification::productstocknotification"/>
        
        <add id="Emipro_Productstocknotification::grid" title="Product Stock Notifications" module="Emipro_Productstocknotification" sortOrder="30" parent="Emipro_Productstocknotification::productstocknotification" action="productstocknotification/grid/index" resource="Emipro_Productstocknotification::grid"/>
    </menu>
</config>

